<%# if @Links %> <%#= links  @Links if @Links %>
<div align=center id='body'>
<H2>複式簿記：メイン:<div id="this_year"><%= @year.year.to_s %></div></H2>
<%= render :partial => "index" %>
<p></p>
<hr>
<div align=center>
勘定科目で不足がある時は、管理者に連絡してください。
<p></p>
<h4>年度初めに</h4>
資産、負債、資本の残高のある各勘定課目について、<br>
相手方勘定「開始残高」で振替伝票を作成して下さい。<br>
日付は年度の最初の日付にしてください<br>
</div>
