<h1>New label</h1>

<% form_for(@label) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<table border=1><tr><td>項目</td><td>コメント</td><td>値</td></tr>
<% @Columns.each_with_index{|lbl,i| next if lbl == "id" %>
<%= "<tr><td>#{lbl}</td><td>#{@HelpMsg[i]}</td><td>"+
 (case @InputType[i]
    when :text     ; text_field     :label,lbl.to_sym,:value=>@label[lbl]
    when :password ;password_field  :label,lbl.to_sym
    when :bool     ;
     (radio_button( :label,lbl.to_sym,true, :checked=> @label[lbl]==true ? 'checked':'')+"可"+
      radio_button( :label,lbl.to_sym,false,:checked=> @label[lbl]==true ? '':'checked')+"否"
     )
    end
)+
"</td>" %><% } %></tr>
<% end %>

<%= link_to 'Back', labels_path %>
