<h3>チェック結果</h3>

<% if @error_days.size >0 -%>
役割の不足<br>
<table>
<% @error_days.each{|error| %>
<tr><td><%= error.join(" ") %></td></tr>
<% } %> 
</table>
<% end %>

<% if @error_nurces.size >0 -%>
勤務上の問題<br>
<table border=1>
<% @error_nurces.each{|errors| errors.each{|name,msg,day,patern|%>
    <tr><td><%= name %></td><td><%= day %>日</td><td><%= msg %></td></tr><% }} %> 
</table>
<% end %>
