<h3><%= @TYTLE %></h3>
<%- opt = {action: :show_img,
   graph_format: @graph_format||"jpeg" ,
   graph_file: @graph_file ||  "image.jpeg",
   graph_file_dir: @graph_file_dir ||  (Rails.root + "tmp" + "img").to_s
   }
%>
<img src='<%= url_for( opt) %>' >
